{% extends 'base.html' %}
{% block content %}
<style>
    .deck-card {
        height:120px;
        margin-bottom: 30px;
    }

</style>
<!-- Page Heading -->
<div class="row row-deck row-cards">
  <div class="col-sm-6 col-lg-3">
    <div class="deck-card card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Humidity</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Humidity Sensor On-off</label>
            <div class="form-selectgroup">
              <label class="form-selectgroup-item">
                <input type="radio" name="hum-icon" value="hum-on" class="form-selectgroup-input" checked>
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                  On</span>
              </label>
              <label class="form-selectgroup-item">
                <input type="radio" name="hum-icon" value="hum-off" class="form-selectgroup-input">
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                  Off</span>
              </label>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="deck-card card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Temperature</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Temperature Sensor On-off</label>
            <div class="form-selectgroup">
              <label class="form-selectgroup-item">
                <input type="radio" name="temp-icon" value="temp-on" class="form-selectgroup-input" checked>
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                  On</span>
              </label>
              <label class="form-selectgroup-item">
                <input type="radio" name="temp-icon" value="temp-off" class="form-selectgroup-input">
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                  Off</span>
              </label>
            </div>
        </div>
      </div>
      <div id="chart-revenue-bg" class="chart-sm"></div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="deck-card card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Dust</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Dust Sensor On-off</label>
            <div class="form-selectgroup">
              <label class="form-selectgroup-item">
                <input type="radio" name="dust-icons" value="dust-on" class="form-selectgroup-input" checked>
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                  On</span>
              </label>
              <label class="form-selectgroup-item form-selectgroup-item-danger">
                <input type="radio" name="dust-icons" value="dust-off" class="form-selectgroup-input ">
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                  Off</span>
              </label>
            </div>
        </div>
        <div id="chart-new-clients" class="chart-sm"></div>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-lg-3">
    <div class="deck-card card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Lighting</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Lighting Sensor On-off</label>
            <div class="form-selectgroup">
              <label class="form-selectgroup-item">
                <input type="radio" name="light-icons" value="light-on" class="form-selectgroup-input" checked>
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                  On</span>
              </label>
              <label class="form-selectgroup-item form-selectgroup-item-danger">
                <input type="radio" name="light-icons" value="light-off" class="form-selectgroup-input ">
                <span class="form-selectgroup-label"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="7" r="4" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                  Off</span>
              </label>
            </div>
        </div>
<!--        <div id="chart-new-clients" class="chart-sm"></div>-->
      </div>
    </div>
  </div>
</div>
<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">일자별 미세먼지 농도</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart" width="1606px" height="318px"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
<!--    <div class="col-xl-4 col-lg-5">-->
<!--        <div class="card shadow mb-4">-->
<!--            &lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
<!--            <div-->
<!--                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
<!--                <h6 class="m-0 font-weight-bold text-primary">시간당 미세먼지</h6>-->
<!--                <div class="dropdown no-arrow">-->
<!--                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"-->
<!--                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;fade-in"-->
<!--                        aria-labelledby="dropdownMenuLink">-->
<!--                        <div class="dropdown-header">Dropdown Header:</div>-->
<!--                        <a class="dropdown-item" href="#">Action</a>-->
<!--                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Card Body &ndash;&gt;-->
<!--            <div class="card-body">-->
<!--                <div class="chart-pie pt-4 pb-2">-->
<!--                    <canvas id="myPieChart"></canvas>-->
<!--                </div>-->
<!--                <div class="mt-4 text-center small">-->
<!--                    &lt;!&ndash;<span class="mr-2">-->
<!--                        <i class="fas fa-circle text-primary"></i> Direct-->
<!--                    </span>-->
<!--                    <span class="mr-2">-->
<!--                        <i class="fas fa-circle text-success"></i> Social-->
<!--                    </span>-->
<!--                    <span class="mr-2">-->
<!--                        <i class="fas fa-circle text-info"></i> Referral-->
<!--                    </span>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
<!-- Content Row -->
<script>
    $(function(){
        pm10Chart();
        pm10Pie();
    });

</script>
{% endblock %}